<%# Presence channel JS needs room.id and user.id and gets it from here %>
<div id="room_identifier" class="row" data-room-id="<%= @room.id %>" data-user-id="<%= current_user.id %>">
  <h1><%= @room.topic %></h1>
  <div class="col-md-8">
    <div class="panel panel-default">
      <% if @room.messages.any? %>
        <div class="panel-body" id="messages-<%= @room.id %>">
          <%= render partial: 'messages/message', collection: @room.messages%>
        </div>
      <%else%>
        <div class="panel-body hidden" id="messages">
        </div>
      <%end%>
    </div>

    <%= render partial: 'messages/message_form', locals: {message: @message, room: @room}%>
  </div>
  <div class="col-md-2">
    <%= render partial: "participants" %>
  </div>
</div>
